<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DepartureCity" value ="Kiev"/>
    <add key="ArrivalCity" value="Harkov Pas"/>
    <add key="YesterdayDateDepart" value="20"/>
    <add key="DateDepart" value="26"/>
    <add key="DateReturn" value="20"/>
    <add key="LastName" value="Smith"/>
    <add key="FirstName" value="John"/>
    <add key="DateOfBirth" value="01.01.2000"/>
  </appSettings>
</configuration>